*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*NAVBAR*/
.navbar{
    background-color: white;
    color: black;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20%;
}
.navLogoPanel{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    font-weight: bolder;
    text-align: center;
    width: 15vw;
    height: 10vh;
    margin-left: 2%;
}
.navOptionsPanel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 40vw;
    height: 10vh;
    background-color: white;
    color: black;
}
.navOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;

}
#navOptions6{
    background-color: #0ac435;
    color: white;
    padding:1.5%;
    border-radius: 5%;
}
/*NAVBAR */

/* Image div */
.register{
    width: 55vw;
    height:30vw;
    background-color:#e4f2e7;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regText{
    height: 30vw;
    margin-left:2%;
    width:25vw;
   
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap:3%;
}
.regImg{
    height: 25vw;
    width:25vw;
    background-image: url("Img1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#regText1{
    height: 2.5vw;
    width:25vw;
  
    color: black;
   font-size: 40px;    

}
#regText2{
    height: 2.5vw;
    width:25vw;
    
    color: green;
    font-size: xx-large;

}
#regText3{
    height: 2.5vw;
    width:25vw;
   
    color: black;
    font-size: medium;
}
#reg{
 align-self: flex-start;   
 background-color: #04AA6D;
 border: none;
 color: white;
 padding: 10px 30px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 border-radius: 5%;
}