*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*NAVBAR*/
.navbar{
    background-color: white;
    color: black;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20%;
}
.navLogoPanel{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    font-weight: bolder;
    text-align: center;
    width: 15vw;
    height: 10vh;
    margin-left: 2%;
}
.navOptionsPanel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 40vw;
    height: 10vh;
    background-color: white;
    color: black;
}
.navOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;

}
#navOptions6{
    background-color: #0ac435;
    color: white;
    padding:1.5%;
    border-radius: 5%;
}
/*NAVBAR */

/* Image div */
.register{
    width: 55vw;
    height:30vw;
    background-color:#e4f2e7;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regText{
    height: 30vw;
    margin-left:2%;
    width:25vw;
   
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap:3%;
}
.regImg{
    height: 25vw;
    width:25vw;
    background-image: url("Img1.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#regText1{
    height: 2.5vw;
    width:25vw;
  
    color: black;
   font-size: 40px;    

}
#regText2{
    height: 2.5vw;
    width:25vw;
    
    color: green;
    font-size: xx-large;

}
#regText3{
    height: 2.5vw;
    width:25vw;
   
    color: black;
    font-size: medium;
}
#reg{
 align-self: flex-start;   
 background-color: #04AA6D;
 border: none;
 color: white;
 padding: 10px 30px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 border-radius: 5%;
}
/* Register panel */
.panel1{

    width: 55vw;
    height:30vw;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel1A{
    width: 25vw;
    height:10vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#panel1A_1{
    width: 23vw;
    height:6vw;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 23px;
    font-weight: bolder;
}

#panel1A_2{
    width: 20vw;
    height:2cqmax;
    
    text-align: center;
} 
.panel1B{
    width: 45vw;
    height:35vh;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#panel1B_1{
   width:13vw;
   height:25vh;
   box-shadow: 0px 0px 2px 2px rgb(236, 232, 232);
   display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#panel1B_2{
    width:13vw;
    height:25vh;
    box-shadow: 0px 0px 2px 2px rgb(236, 232, 232);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
#panel1B_3{
    width:13vw;
    height:25vh;
    box-shadow: 0px 0px 2px 2px rgb(236, 232, 232);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#panel1B_1img{
    width:35px;
    height:35px;
    background-image: url("img1 (1).png");
    background-size: contain;
}
#panel1B_1head{
    width:10vw;
    height:8vh;
   
    font-size: 20px;
    text-align: center;
}
#panel1B_1text{
    width:12vw;
    height:8vh;
   
    font-size: x-small;
    color: grey;
}
#panel1B_2img{
    width:35px;
    height:35px;
    background-image: url("img1 (2).png");
    background-size: contain;
}
#panel1B_2head{
    width:10vw;
    height:8vh;
    
    font-size: 20px;
    text-align: center;
}
#panel1B_2text{
    width:12vw;
    height:8vh;
    color: grey;
    font-size: x-small;    
}
#panel1B_3img{
    width:35px;
    height:35px;
    background-image: url("img1 (3).png");
    background-size: contain;
}
#panel1B_3head{
    width:10vw;
    height:8vh;
  
    font-size: 20px;
    text-align: center;
}
#panel1B_3text{
    width:12vw;
    height:8vh;
    color: grey;
    font-size: x-small;
}
/*PANEL 1 finished */

.panel2{
    width: 55vw;
    height:50vh;
    
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel2A{
    background-image: url("img4.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:20vw;
    height:40vh;
}
.panel2B{
   
    width:30vw;
    height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#panel2B_1{
    width: 23vw;
    height:4vw;
    color: black;
    font-size: 27px;
    font-weight: bolder;
}
#panel2B_2{
    width: 20vw;
    height:2cqmax;
    font-size: small;
    text-align: center;
}
#panel2B_3{
     
   background-color: #0ac435;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
    margin-top: 1.5%;
}
/* panel 2 finished */
.panel3{

    width: 55vw;
    height:60vh;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.panel3A{
    
    width:50vw;
    height:15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#panel3A_1{
    width: 23vw;
    height:2vw;
    color: black;
    font-size: x-large;
    font-weight: bolder;
}
#panel3A_2{
    width: 30vw;
    height:10vh;
    font-size: small;
    text-align: center; 
}
.panel3B{
   
    width:50vw;
    height:35vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
 
}
#panel3B_1{
    width: 15vw;
    height:22vh;
    color: black;
    font-size: 27px;
    font-weight: bolder;
   
    border-radius: 5%;
    position: relative;
    background-image: url("img5\ \(1\).png");
    background-size: cover;
}

#panel3B_2{
    width: 15vw;
    height:22vh;
    color: black;
    font-size: 27px;
    font-weight: bolder;
    
    border-radius: 5%;
    position: relative;
    background-image: url("img5\ \(2\).png");
    background-size: cover;
}

#panel3B_3{
    width: 15vw;
    height:22vh;
    color: black;
    font-size: 27px;
    font-weight: bolder;
    background-image: url("img5\ \(3\).png");
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 5%;
    position: relative;
}
#panel3B_11{
    width: 12vw;
    height:15vh;
    color: black;
    font-weight: bolder;
    background-color: rgb(230, 228, 233);
    border-radius: 5%;
    position: absolute;
    top:12vh;
    left:20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#panel3B_21{
    width: 12vw;
    height:15vh;
    color: black;
    font-weight: bolder;
    background-color: rgb(230, 228, 233);
    border-radius: 5%;
    position: absolute;
    top:12vh;
    left:20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#panel3B_31{
    width: 12vw;
    height:15vh;
    color: black;
    font-weight: bolder;
    background-color: rgb(230, 228, 233);
    border-radius: 5%;
    position: absolute;
    top:12vh;
    left:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.insideoverpanel{
    width: 11vw;
    height:8vh;
    font-size: small;
    text-align: center;
}
.insideoverpanel2{
    width: 10vw;
    height:2vh;
    color: black;
    text-decoration: none;
    font-size: small;
    text-align: center;
    color: green;
}
/*panel 3 finshed*/
